<!DOCTYPE html>
    {% load static%}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximun-scale=1,minimun-scale=1">
        <title>Complaint page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <script type = "text/javascript">
          
          function Warn() {
             alert ("Comaplaint raised");
             
          }
       
        </script> 
        </head>
        
        
        <body class="bgSet">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'logoutPage'%}" style="float: left; margin: 10px"><button class="btn btn-primary">Logout</button></a>
            <a href="{% url 'Welcomepage'%}" style="float: left; margin: 10px"><button class="btn btn-primary">Home</button></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
              
              </div>
            </nav>
    
          <br><br><br><br><br>
        <center>
            <h4 class="alert-heading">Raise Complaint</h4>
        </center>
        
        <div class="container-sm"  style="width: 30rem;">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Uid" id='uid' name='uid' value="{{ user }}">
              </div>
            </div>
            <br>
            <div class="form-group">
              <input type="text" class="form-control" name='category' id='category' placeholder="Electricity or plumbing or fecility" >
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name='reason' id='reason' placeholder="Discription" >
            </div>
            <div class="form-group">
              <input type="date" class="form-control" name="dt" id='dt' placeholder="date">
            </div>
            <button type="submit" class="btn btn-success" onclick="Warn()">ADD</button>
            
          </form>
        </div>
    
        
    </body>
    </html>